<div class="item-second">
    <picture class='item-second__img'>
        <source srcset="@@img3x 3x">
        <source srcset="@@img2x 2x">
        <img src="@@img1x" alt="photo">
    </picture>
    <h3 class="item-second__title">@@title</h3>
    <ul class="item-second__list">
        <li class="item-second__item">@@content-1</li>
        <li class="item-second__item">@@content-2</li>
        <li class="item-second__item">@@content-3</li>
        <li class="item-second__item">@@content-4</li>
        <li class="item-second__item">@@content-5</li>
        <li class="item-second__item item-second__item_margin">@@content-6</li>
    </ul>
    <span class="item-second__price">@@price</span>
    <div class='item-second__btn-wrapper'>
        @@include('buy-btn/index.html')
    </div>
</div>